<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koshari Recipe</title>
</head>

<body>
    <header>
        <img src="assets/koushari.jpg" alt="Koshari Image" id="koshari-image">
        <h1>Koshari</h1>
    </header>
    <main>
        <section id="recipe-info">
            <h2>  </h2>
            <p>Cuisine: Egypt</p>
            <div id="cooking-time">
                <h3>Overall Time: around 65 to 87 minutes from start to finish</h3>
            </div>
            <div id="ratings">
                <p class="rating-stars">4.6
                    <span>&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                </p>
            </div>
        </section>
        
        <section id="ingredients">
            <h2>Ingredients</h2>
            <h3>For the Koshari:</h3>
            <ul>
                <li>1 cup rice</li>
                <li>1 cup brown lentils</li>
                <li>1 cup pasta (macaroni or small penne)</li>
                <li>1 cup cooked chickpeas</li>
                <li>1 onion, thinly sliced and fried until crispy (for garnish)</li>
                <li>Salt (to taste)</li>
                <li>Vegetable oil (for frying)</li>
            </ul>
            <h3>For the Tomato Sauce:</h3>
            <ul>
                <li>2 tablespoons olive oil</li>
                <li>1 onion, finely chopped</li>
                <li>2 cloves garlic, minced</li>
                <li>1 can (14 oz) crushed tomatoes</li>
                <li>1 teaspoon ground cumin</li>
                <li>1 teaspoon ground coriander</li>
                <li>1/2 teaspoon cayenne pepper (adjust to taste)</li>
                <li>Salt and pepper (to taste)</li>
            </ul>
            <h3>For the Garlic Vinegar Sauce:</h3>
            <ul>
                <li>2 cloves garlic, minced</li>
                <li>1/4 cup white vinegar</li>
                <li>Salt (to taste)</li>
            </ul>
        </section>
        <section id="instructions">
            <h2>Instructions</h2>
            <ol>
                <li>Prepare the Lentils: Rinse lentils, cook until tender, then drain.</li>
                <li>Cook the Rice: Boil rice until fluffy and tender, then set aside.</li>
            </ol>
        </section>
    </main>
</body>

</html>
