.shopping-cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.ingredient-type {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #DCD1C4; /* Change the background color here */
  height: 200px; /* Set a fixed height for the cart */
}

.ingredient-type h2 {
  margin-top: 0;
}

.ingredients {
  margin-top: 10px;
}

.ingredient {
  margin-bottom: 5px;
}
