<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New meal form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card c formo my-2">
          <p class="text-center Settings my-2">New Meal</p>
          <div class="card-body">
            <form class="">
              <div class="mb-3 row">
                <label for="mealName" class="col-sm-3 col-form-label">Meal's Name</label>
                <div class="col-sm-9">
                  <input placeholder="What is the Meal Name ?" type="text" class="form-control" id="mealName">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="ingredients" class="col-sm-3 col-form-label">Ingredients</label>
                <div class="col-sm-9">
                  <input placeholder="Enter The ingredients" type="text" class="form-control" id="ingredients">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="cookingInstructions" class="col-sm-3 col-form-label">Cooking instructions</label>
                <div class="col-sm-9">
                  <input placeholder="Fill the instructions" type="text" class="form-control" id="cookingInstructions">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="cookingTime" class="col-sm-3 col-form-label">Overall Cooking Time</label>
                <div class="col-sm-9">
                  <input placeholder="The Cooking Time" type="number" class="form-control" id="cookingTime">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6">
                  <input type="file" class="form-control visually-hidden" id="imageInput" accept="image/*">
                  <i class="fas fa-image"></i> <!-- Font Awesome icon -->
                  <label for="imageInput" class="photo">
                    <span class="upload-photo-btn"> <!-- Adding a span to wrap the button -->
                      <a>Upload Photo</a>
                    </span>
                  </label>
                </div>
                <div class="col-sm-6 text-end">
                  <button type="submit" class="btn btn-success custom-post-button">Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
