<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Recipe</title>
</head>

<body>
    <header>
        <img src="assets/pizzaimage.jpg" alt="Pizza Image" id="koshari-image">
        <h1>Pizza</h1>
    </header>
    <main>
        <section id="recipe-info">
            <h2>  </h2>
            <p>Cuisine: italian </p>

            <div id="cooking-time">
                <h3>Overall Time: around 65 to 87 minutes from start to finish</h3>
            </div>
            <div id="ratings">

                <p class="rating-stars">4.6
                    <span>&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                </p>
            </div>
        </section>
        <section id="ingredients">
            <h2>Ingredients</h2>
            <h3>For the Pizza:</h3>
            <ul>
                <li>1 pre-made pizza dough</li>
                <li>1/2 cup pizza sauce</li>
                <li>1 1/2 cups shredded mozzarella cheese</li>
                <li>1/2 cup sliced pepperoni</li>
                <li>1/4 cup sliced black olives</li>
                <li>1/4 cup grated Parmesan cheese</li>
                <li>Salt and pepper to taste</li>
            </ul>
            
            <h3>For the Pizza Dough:</h3>
            <ul>
                <li>2 1/4 teaspoons (1 packet) active dry yeast</li>
                <li>1 teaspoon sugar</li>
                <li>1 1/2 cups warm water (110°F)</li>
                <li>3 1/2 cups all-purpose flour</li>
                <li>2 tablespoons olive oil</li>
                <li>1 1/2 teaspoons salt</li>
                <li>1/2 teaspoon dried thyme</li>
                
            </ul>
            

            <h3>For the Pizza Sauce:</h3>
            <ul>
                <li>1 can (14 oz) crushed tomatoes</li>
                <li>2 tablespoons olive oil</li>
                <li>2 cloves garlic, minced</li>
              
            </ul>
            
        </section>
        <section id="instructions">
          <h2>Instructions</h2>
<ol>
    <li>Roll out the pizza dough on a floured surface to your desired thickness and put it in oven </li>
    <li>Remove from the oven and let it cool for a few minutes before slicing and serving.</li>
</ol>

        </section>
    </main>
</body>

</html>
