<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koshari Recipe</title>
</head>

<body>
    <header>
        <img src="assets/shawrma.jpg" alt="shawrma Image" id="koshari-image">
        <h1>shawrma</h1>
    </header>
    <main>
        <section id="recipe-info">
            <h2>  </h2>
            <p>Cuisine: Egypt</p>
            <div id="cooking-time">
                <h3>Overall Time: around 65 to 87 minutes from start to finish</h3>
            </div>
            <div id="ratings">
                <p class="rating-stars">4.6
                    <span>&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                </p>
            </div>
        </section>
        
        <section id="ingredients">
            <h2>Ingredients</h2>
            <h3>For the shawrma:</h3>
            <ul>
                <li>Thinly sliced meat (usually chicken, beef, lamb)</li>
                <li>Pita bread or flatbread</li>
                <li>Lettuce or other greens</li>
                <li>Tomatoes</li>
                <li>Garlic sauce or tahini sauce</li>
                <li>Salt (to taste)</li>
                <li>Vegetable oil (for frying)</li>
            </ul>
            <h3>For the sharwma Sauce:</h3>
            <ul>
                <li>1 cup plain yogurt</li>
                <li>2 tablespoons tahini</li>
                <li>2 cloves garlic, minced</li>
                <li>1/2 teaspoon ground cumin</li>
                <li>1/2 teaspoon cayenne pepper (adjust to taste)</li>
                <li>Salt and pepper (to taste)</li>
            </ul>
            <h3>For the  Tomaia  Sauce:</h3>
            <ul>
                <li>2 cloves garlic </li>
                <li>1/4 cup white vinegar</li>
                <li>Salt (to taste)</li>
            </ul>
        </section>
        <section id="instructions">
            <h2>Instructions</h2>
            <ol>
                <li>Place cooked meat on warmed bread, top with shawarma sauce and vegetables.</li>
                <li>Roll up the shawarma and serve immediately.</li>
            </ol>
        </section>
    </main>
</body>

</html>
