<body>
    <div class="container">
      <h1 class="header">Create your plan for the day</h1>
      <div class="top-bar">
        <div class="search-container">
          <input type="text" placeholder="Search with ingredients..." />
          <button type="button">Search</button>
        </div>
        <div class="dropdown">
          <select class="dropdown-select">
            <option value="">Select Cuisine</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </div>
        <div class="time-range">
          <label for="start-time">Start Time (minutes):</label>
          <input
            type="text"
            id="start-time"
            name="start-time"
            pattern="[1-5]?[0-9]|60"
            title="Please enter a number between 0 and 60"
          />
          <label for="end-time">End Time (minutes):</label>
          <input
            type="text"
            id="end-time"
            name="end-time"
            pattern="[1-5]?[0-9]|60"
            title="Please enter a number between 0 and 60"
          />
        </div>
      </div>
    </div>
  
    <div class="meal-section">
      <h2 class="meal-header">Breakfast</h2>
      <div class="meal-cards">
        <div class="meal-card" *ngFor="let breakfastMeal of breakfastMeals">
          <img src="{{ breakfastMeal.image }}" alt="{{ breakfastMeal.name }}" />
          <p>{{ breakfastMeal.name }}</p>
          <button type="button" (click)="toggleFollow(breakfastMeal)">
            {{ breakfastMeal.following ? 'Unfollow' : 'Follow' }}
          </button>
          <app-star-rating
            [maxRating]="5"
            [currentRating]="breakfastMeal.rating"
          ></app-star-rating>
          <p>Posted by: {{ breakfastMeal.author }}</p>
          <button
            type="button"
            (click)="addMealToCart(breakfastMeal.ingredients)"
          >
            Add to plan
          </button>
        </div>
      </div>
    </div>
  
    <div class="meal-section">
      <h2 class="meal-header">Lunch</h2>
      <div class="meal-cards">
        <div class="meal-card" *ngFor="let lunchMeal of lunchMeals">
          <img src="{{ lunchMeal.image }}" alt="{{ lunchMeal.name }}" />
          <p>{{ lunchMeal.name }}</p>
          <button type="button" (click)="toggleFollow(lunchMeal)">
            {{ lunchMeal.following ? 'Unfollow' : 'Follow' }}
          </button>
          <app-star-rating
            [maxRating]="5"
            [currentRating]="lunchMeal.rating"
          ></app-star-rating>
          <button type="button" (click)="addMealToCart(lunchMeal.ingredients)">
            Add to plan
          </button>
        </div>
      </div>
    </div>
  
    <div class="meal-section">
      <h2 class="meal-header">Dinner</h2>
      <div class="meal-cards">
        <div class="meal-card" *ngFor="let dinnerMeal of dinnerMeals">
          <img src="{{ dinnerMeal.image }}" alt="{{ dinnerMeal.name }}" />
          <p>{{ dinnerMeal.name }}</p>
          <button type="button" (click)="toggleFollow(dinnerMeal)">
            {{ dinnerMeal.following ? 'Unfollow' : 'Follow' }}
          </button>
          <app-star-rating
            [maxRating]="5"
            [currentRating]="dinnerMeal.rating"
          ></app-star-rating>
          <button type="button" (click)="addMealToCart(dinnerMeal.ingredients)">
            Add to plan
          </button>
        </div>
      </div>
    </div>
    <body></body>
  </body>
  